.todo {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    height: 30px;
    padding: 10px;
    margin: 20px 0;
}

button {
    height: 15px;
}